<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{#if prod}}
    <script data-main="static/js/optimized" src="static/js/lib/require.js"></script>
    <script>var ENV="production"</script>
    {{else}}
    <script data-main="static/js/main" src="static/js/lib/require.js"></script>
    <script>var ENV="development"</script>
    {{/if}}
    <script>var PORT="{{port}}"</script>
    <link rel="stylesheet" type="text/css" href="static/css/main.min.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Real Time Chat</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Chat</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  {{#if messages.info}}
  <div class="messages">
    <span>{{messages.info}}</span>
  </div>
  {{/if}}
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
