<div>
  {{#if user}}
    <div id='users' data-user="{{user.username}}">
  {{else}}
    <div id='users'>
  {{/if}}
    <h3>Active Users:</h3>
    {{#each users}}
      <p>{{username}}</p>
    {{/each}}
  </div>
  {{#if user}}
    <h3>Current user: {{user.username}}</h3>
  {{/if}}
  <div class='text-box' id='content'></div>
  {{#if user}}
  <form method="post" action="/users/signout">
    <input type="hidden" id='username_signout' name='username' value='{{user.username}}' style='width:350px'></input>
    <input id='send_signout' type='submit' value='signout' style='width:350px'></input>
  </form>
  {{else}}
  <form method="post" action="/users/signin">
    <input id='username_signin' name='username' style='width:350px'></input>
    <input id='send_signin' type='submit' value='signin' style='width:350px'></input>
  </form>
  {{/if}}
  <form action="">
    <input id='field' style='width:350px'></input>
    <input id='send' type='button' value='send' style='width:350px'></input>
  </form>
</div>
